<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Dashboard/Index">
                <i class="fa fa-chart-line menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/ReceiverMessage">
                <i class="fa fa-inbox menu-icon"></i> 
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Message/SenderMessage">
                <i class="fa fa-paper-plane menu-icon"></i> 
                <span class="menu-title">Giden Mesajlar</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Writer/Default/Index">
                <i class="fa fa-bell menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="fa fa-user menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Profile/Index">
                <i class="fa fa-cog menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Login/LogOut">
                <i class="fa fa-sign-out-alt menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
