
@{
    ViewData["Title"] = "CreateSocialMedia";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@model PortfolioProject.EntityLayer.Concrete.SocialMedia


<form method="post" class="form-group">
    <br />   <br />   <br />   <br />
    <div class="mb-3">
        <label for="title" class="form-label">Sosyal Medya Adı</label>
        <input type="text" class="form-control" id="title" name="Name" required />
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Ikon</label>
        <input type="text" class="form-control" id="title" name="Icon" required />
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">URL</label>
        <input type="text" class="form-control" id="title" name="Url" required />
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Durum</label>
        <select class="form-control" id="status" name="Status" required>
            <option value="true">Aktif</option>
            <option value="false">Pasif</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Kaydet</button>
</form>

