@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

@await Html.PartialAsync("/Areas/Writer/Views/Default/HeadPartial.cshtml")

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        @await Html.PartialAsync("/Areas/Writer/Views/Default/NavbarPartial.cshtml")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("/Areas/Writer/Views/Default/SideBarPartial.cshtml")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <div class="page-header-content">
                            <div class="page-title">
                                <h4>@ViewData["Title"]</h4>
                                <p class="text-muted">@ViewData["Subtitle"]</p>
                            </div>
                        </div>
                    </div>
                    <div class="content-body">
                        @RenderBody()
                    </div>
                </div>
                @await Html.PartialAsync("/Areas/Writer/Views/Default/FooterPartial.cshtml")
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    @await Html.PartialAsync("/Areas/Writer/Views/Default/ScriptPartial.cshtml")
</body>

</html>
